[mysqld]
user = root
datadir = /app/mysql
port = 3306
log-bin = /app/mysql/mysql-bin
sql-mode = ""
key_buffer        = 300M
max_allowed_packet    = 16M
thread_stack        = 128K
thread_cache_size    = 384
max_connections        = 400
table_cache            = 1800
tmp_table_size = 64M
max_heap_table_size = 64M
max_connect_errors = 1000
wait_timeout = 7200
connect_timeout = 20